<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Chili&apos;s</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Moe&apos;s Original BBQ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OZO Coffee Co</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Moongate Asian Bistro &amp; Sushi Bar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>La Revolucion</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Millers Grill</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pepper Jack&apos;s</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hacienda Jalisco</string>
	</dict>
	<dict>
		<key>name</key>
		<string>East Moon Asian Bistro/Sushi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Agave Mexican Bistro &amp; Tequila House</string>
	</dict>
	<dict>
		<key>name</key>
		<string>95a bistro &amp; sushi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Parrott&apos;s Sports Grille</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Petra Mediterranean Restaurant</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ralphie&apos;s</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lazy Dog Sports Bar &amp; Grill</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Parma Trattoria Mozzarella Bar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Minglewood</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rio Grande Mexican Restaurant</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Buffalo Wild Wings Grill &amp; Bar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Basil Flats</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rueben&apos;s Burger Bistro</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pump House Brewery</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Walnut Cafe</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spice China</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Backcountry Pizza &amp; Tap House</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Walnut Brewery</string>
	</dict>
</array>
</plist>
